<p id="notice"><%= notice %></p>

<p>
  <b>Application:</b>
  <%= @application_version.application_id %>
</p>

<p>
  <b>Version:</b>
  <%= @application_version.version %>
</p>

<p>
  <b>Version status:</b>
  <%= @application_version.version_status_id %>
</p>


<%= link_to 'Edit', edit_application_version_path(@application_version) %> |
<%= link_to 'Back', application_versions_path %>
