<p class="pageheading"><%=t("headings.listing.heading", :model=>t($ARM + "redis_database", :count=>2) )%></p>

<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=t($ARA+'redis_database.redis_index') %></th>

    <th class ="dataheader"><%=t($ARA+'redis_database.name') %></th>

    <th class ="dataheader"><%=t($ARA+'redis_database.host') %></th>

    <th class ="dataheader"><%=t($ARA+'redis_database.port') %></th>

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @redis_databases.each do |redis_database| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
  
      <td class="<%= cell_class %>"><%= redis_database.redis_index %></td>

  
      <td class="<%= cell_class %>"><%= redis_database.name %></td>

  
      <td class="<%= cell_class %>"><%= t(redis_database.host) %></td>
      <td class="<%= cell_class %>"><%= redis_database.port %></td>

  
    
    <td class="<%= link_cell_class %>"><%= link_to  t('actions.edit'), edit_redis_database_path(redis_database) %></td>
    <td class="<%= link_cell_class %>"><%= link_to t('actions.destroy'),  redis_database , :confirm => t('messages.delete.are_you_sure', :model => t($ARM + "redis_database", :count=>1)), :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<%= link_to t('headings.new.heading', :model=> t($ARM + 'redis_database', :count=>1)), new_redis_database_path %>