<%=theading("listing", :model=>"translation", :count=>10) %>
<!-- < % if Translation.count==0 then %>
  < %=t($MS + "no_records_found")%><br/>
< %  else %> -->
<%full_key_display='none'%>
<%wrapped_key_display='table_cell'%>
<%short_key_display='table-cell'%>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    

    <th class ="dataheader" style="display:<%=full_key_display%>;"> <%=tlabel('dot_key_code', 'translation') %></th>
    <th class ="dataheader" style="display:<%=wrapped_key_display%>;"><%=tlabel('dot_key_code', 'translation') %></th>
    <th class ="dataheader" style="display:<%=short_key_display%>;" ><%=tlabel('dot_key_code', 'translation') %></th>

    <th class ="dataheader"><%=tlabel('translation', 'translation') %></th>

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @translations.each do |translation| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
  
      

  
      <td class="<%= cell_class%>" style="display:<%=full_key_display%>;"><%= translation.dot_key_code %></td>
      <td class="<%= cell_class %>" style="display:<%=wrapped_key_display%>;"><%= dot_key_code_wrapped(translation.dot_key_code) %></td>
      <td class="<%= cell_class %>" style="display:<%=short_key_display%>; "><%= dot_key_code_last_key(translation.dot_key_code) %></td>
      <td class="<%= cell_class %>"><%= translation.translation %></td>

  
    
  <!-- <td class="< %= link_cell_class %>">< %= tlink_to  'edit', edito_translation_path + '?dot_key_code_no_lang=' +dot_key_code_no_lang(translation.dot_key_code) %></td> -->
    <!-- <td class="< %= link_cell_class %>">< %= tlink_to 'destroy',  translation , :confirm => 'delete.are_you_sure', :model => "translation", :value=>('Index: '+ translation.dot_key), :method => :delete %></td> -->
  </tr>
<% end %>
</table>
<%= twill_paginate %>
<!-- < %end%> -->
