<p id="notice"><%= notice %></p>

<p>
  <b>Redis index:</b>
  <%= @translation.redis_db_index %>
</p>

<p>
  <b>Name:</b>
  <%= @translation.application_name_with_version %>
</p>

<p>
  <b>Server:</b>
  <%= @translation.host %>
</p>
<p>
  <b>Port:</b>
  <%= @translation.port %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
