<script language="javascript" type="text/javascript">

        $(function() {

            $.configureBoxes({box1View : "application_languages_available",
                              box2View : "application_language_ids" });

        });

    </script>

<%= semantic_form_for(@application) do |f| %>
  

	<%= f.inputs %>
	
	 <form name="form1" method="post" action="DLBPlugin.aspx" id="form1">
    <div>
    <table>
            <tr>
                <td>
                        Filter: <input type="text" id="box1Filter" /><button type="button" id="box1Clear">X</button><br />
                        <%=  f.input :languages_available, :as=>:select, :collection=>languages_available_data(@application.id).collect {|l| [l.name, l.id ]},  :multiple=>"multiple", :class=>"dualBox1" %>
                        

                         <span id="box1Counter" class="countLabel"></span>

                       <select id="box1Storage">

                        </select>

                </td>

                <td>

                    <button id="to2" type="button">&nbsp;>&nbsp;</button>

                    <button id="allTo2" type="button">&nbsp;>>&nbsp;</button>

                    <button id="allTo1" type="button">&nbsp;<<&nbsp;</button>

                    <button id="to1" type="button">&nbsp;<&nbsp;</button>

                </td>

                <td>

                    Filter: <input type="text" id="box2Filter" /><button type="button" id="box2Clear">X</button><br />

                    <%=  f.input :languages, :as=>:select, :collection=>Language.where("id=:id", {:id=>@application.id}).collect {|l| [l.name,l.id]},  :multiple=>"multiple", :class=>"dualBox1" %>

                    <span id="box2Counter" class="countLabel"></span>

                    <select id="box2Storage">

                    </select>

                </td>

            </tr>

        </table>

    </div>

    <input type="submit" value="Submit" />

    </form>
 
	

  
    
   
	<%= f.buttons do %>
      <%= f.commit_button  %>
  <% end %>
	
	<% end %>

