<%=t("listing", :model=>"whiteboard_type", :count=>10 )%>
<% if WhiteboardType.count==0 then %>
  <%=t($MS + "no_records_found")%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">
    <th class ="dataheader"><%=t($FL+"name_english")%></th>
    <th class ="dataheader"><%=t($FL+"translation_code")%></th>
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

<% cell_class = "data" %>
<% link_cell_class="link"%>
<% @whiteboard_types.each do |whiteboard_type| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
    <td class="<%= cell_class %>" ><%= whiteboard_type.name_english %></td>
    <td class="<%= cell_class %>" ><%= whiteboard_type.translation_code %></td>
    
    <td class="link_cell_class"><%= link_to t('actions.edit'), edit_whiteboard_type_path(whiteboard_type) %></td>
    <td class="link_cell_class"><%= link_to t('actions.destroy'), whiteboard_type, :confirm => 'delete.are_you_sure', :value => tlookup_value(whiteboard_type), :model => 'whiteboard_type', :count=>1, :method => :delete %></td>
  </tr>
 	
<% end %>
</table>
<%= twill_paginate %>
<br />
<% end %>
<%= tlink_to('new_model', new_whiteboard_type_path, :model=> 'whiteboard_type', :count=>1) %>
