<p id="notice"><%= notice %></p>



<p>
  <b>Server:</b>
  <%= @redis_instance.host %>
</p>
<p>
  <b>Port:</b>
  <%= @redis_instance.port %>
</p>


<%= link_to 'Edit', edit_redis_instance_path(@redis_instance) %> |
<%= link_to t("formtastic.actions.back"), redis_instances_path %>
