<%=theading('listing', :model=>'language', :count=>10 )%>
<% if Language.count==0 then %>
  <%=t($MS + "no_records_found")%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">
    <th class ="dataheader"><%=t($FL+"iso_code")%></th>
    <th class ="dataheader"><%=t($FL+"name")%></th>
    
    <th class="linkheader"></th>
    <th class="linkheader"></th>
 </tr>

<% cell_class = "data" %>
<% link_cell_class="link"%>
  
<% @languages.each do |language| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
    <td class="<%= cell_class %>"><%= language.iso_code %></td>
    <td class="<%= cell_class %>"><%= language.name %></td>
    
    <td class="<%= link_cell_class %>"><%= tlink_to 'edit', edit_language_path(language) %></td>
    <td class="<%= link_cell_class %>"><%= tlink_to 'destroy', language, :confirm => 'delete.are_you_sure', :model => 'language', :value=>language.name, :count=>1, :method => :delete %></td>
  </tr>
	
<% end %>
</table>
<%= twill_paginate %>
<br />
<% end %>
<%= tlink_to('new_model', new_language_path, :model=> 'language', :count=>1) %>
