<%=theading("listing", :model=>"calmapp_version",:count=>10 )%>
<% if CalmappVersion.count==0 then %>
  <%=t($MS + "no_records_found")%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=tlabel('calmapp_id',  'calmapp_version') %></th>

    <th class ="dataheader"><%=tlabel('version','calmapp_version') %></th>

    <th class ="dataheader"><%=tlabel('release_status_id', 'calmapp_version') %></th>

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @calmapp_versions.each do |calmapp_version| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
  
      <td class="<%= cell_class %>"><%= Calmapp.find(calmapp_version.calmapp_id).name %></td>

  
      <td class="<%= cell_class %>"><%= calmapp_version.version %></td>

  
      
      <td class="<%= cell_class %>"><%=VersionStatus.find(calmapp_version.release_status_id).status %></td>
  
    
    <td class="<%= link_cell_class %>"><%= tlink_to  'edit', edit_calmapp_version_path(calmapp_version) %></td>
    <td class="<%= link_cell_class %>"><%= tlink_to 'destroy',  calmapp_version , :confirm => 'delete.are_you_sure', :model =>  "calmapp_version", :value=>calmapp_version.name, :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<% end %>
<%= tlink_to 'new_model', new_calmapp_version_path, :model=> 'calmapp_version'%>