<%=semantic_fields_for(@calmapp_version) do |version| %>
        <%= version.input :version %>
        
        <%= version.input :add_languages,   :as=>:boolean%>

<script language="javascript" type="text/javascript">
        //<!-- This script sets up dual list boxes with the appropriate ids -->
        $(function() {
            $.configureBoxes({box1View : "availableLanguagesBox",
                              box2View : "selectedLanguagesBox",
                              box1Filter : "availableLanguagesFilter",
                              box2Filter : "selectedLanguagesFilter",
                              box1Clear : "availableLanguagesFilterClear",
                              box2Clear : "selectedLanguagesFilterClear",
                              box1Counter : "availableLanguagesCounter",
                              box2Counter :  "selectedLanguagesCounter"  });
        });
         //This funcion ensures that all values in the receiving listbox are extracted and written. They must be selected for this.
         $(document).ready(function(){
          deleteBlanksFromSelectBox('#availableLanguagesBox');
         });//end ready

         //This function is necesary to remove a blank that formtastic leaves in the first listbox.
         function deleteBlanksFromSelectBox(boxId){
           $(boxId + " :empty").remove();
         }
    </script>

        <table id="languagesTable">
                <tr>
                    <td>
                      <fieldset class="inputs"> <label><%=t("activerecord.calmapp_version.languages_available")%></label><br>
                            <span id="availableLanguagesFilterSpan"><!-- <%= t("formtastic.labels.filter")%> -->  <input type="text" id="availableLanguagesFilter" /><!--<button type="button" id="availableLanguageFilterClear">X</button></span>-->
                            <ul><%=  version.input :languages_available, :label=>false, :input_html =>{:id =>"availableLanguagesBox"},  :as=>:select, :collection=>@calmapp_version.available_languages.collect {|lang| [lang.name, lang.id ]},  :multiple=>"multiple"%></ul>
                            <!--<span id="availableLanguagesCounter" class="countLabel"></span> --> </fieldset>
                            <select id="box1Storage">
                            </select>
                    </td>
                    <td>
                      <ul><li><button id="to2" type="button" class="toFrom">&nbsp;>&nbsp;</button></li>
                        <li><button id="allTo2" type="button" class="toFrom">&nbsp;>>&nbsp;</button></li>
                        <li><button id="allTo1" type="button" class="toFrom">&nbsp;<<&nbsp;</button></li>
                        <li><button id="to1" type="button" class="toFrom">&nbsp;<&nbsp;</button></li>
                      </ul>
                    </td>
                    <td>
                        <fieldset class="inputs"><%=t("activerecord.calmapp_version.languages")%><br>
                        <span id="selectedLanguagesFilterSpan"><!--  <%= t("formtastic.labels.filter")%>-->  <input type="text" id="selectedLanguagesFilter" /><!--<button type="button" id="selectedLanguagesFilterClear">X</button></span> -->
                        <ul><%=  version.input :languages, :label=>false, :as=>:select, :collection=>@calmapp_version.languages.collect {|lang| [lang.name,lang.id]},  :multiple=>"multiple", :input_html => { :class => "dualBox2", :id => "selectedLanguagesBox" }  %></ul>
                        <!--<span id="selectedLanguagesCounter" class="countLabel"></span></fieldset> -->
                        <select id="box2Storage">
                        </select>
                    </td>
                </tr>
       </table>
       <%if ! @redis_database.nil? then %>
         <%= version.input :new_redis_dev_db, :as=>:boolean %>
       <%end%>
     <%end%>