<!-- only by superuser -->
<%=theading("listing", :model=>"user_work", :count=>10) %>
<% if UserWork.count==0 then %>
  <%=t($MS + "no_records_found")%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=tlabel('user_id', 'redis_database') %></th>

    <th class ="dataheader"><%=tlabel('translation_language_id', 'user_work' ) %></th>

    <th class ="dataheader"><%=tlabel('current_redis_database_id', 'user_work') %></th>

    

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @user_work.each do |up| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
  
      <td class="<%= cell_class %>"><%= up.user_id %></td>

  
      <td class="<%= cell_class %>"><%= Language.find(up.translation_language_id).name %></td>

  
      <td class="<%= cell_class %>"><%= RedisDatabase.find(up.current_redis-database_id).name %></td>
      

  
    
    <td class="<%= link_cell_class %>"><%= tlink_to  'edit', edit_user_work_path(up) %></td>
    <td class="<%= link_cell_class %>"><%= tlink_to 'destroy',  up , :confirm => 'delete.are_you_sure', :model => "redis_database", :value=>('Index: '+ up.id), :method => :delete %></td>
    
  </tr>
<% end %>
</table>
<%= twill_paginate %>
<%end%>
<br />

<%= tlink_to 'new_model', new_redis_database_path, :model=> 'redis_database' %>