<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @user_work.id%>
</p>
<p>
  <b>Translation Language:</b>
  <%= Language.find(@user_work.translation_language_id%>
</p>
<p>
  <b>Current Redis Database:</b>
  <%= RedisDatabase.find(@user_work.currentRedis_database_id)%>
</p>
<p>
  <b>Translation Language:</b>
  <%= Language.find(@user_work.translation_language_id%>
</p>





<%= link_to 'Edit', edit_user_work_path(@user_work) %> |
<%= link_to t("formtastic.actions.back"), user_works_path %>
