<%= semantic_form_for(@application) do |f| %>
  

	<%= f.inputs %>
	<%=	f.inputs :languages, :as => :check_boxes %>
	  
	<%= f.semantic_fields_for :languages do |language|%>
<p><%= language.inputs :iso_code, :name, :name=>"Language" %></p>
<%end%>

  
    
   
	<%= f.buttons do %>
      <%= f.commit_button  %>
  <% end %>
	
	<% end %>

