<p class="pageheading"><%= t("headings.new.heading", :model=>t($ARM + "calmapp", :count=>1))%></p>
<%= semantic_form_for(@calmapp, @calmapp_version) do |f| %>
	<%= f.inputs do %>
    <%= f.input :name %>
    <%=semantic_fields_for(@calmapp_version) do |v| %>
        <%= v.input :major_version %>
        <%= v.input :version_status_id %>
    <%end%>
      <table>
              <tr>
                  <td>
                    <fieldset class="inputs"> <label><%=t("activerecord.calmapps.languages_available")%></label><br>
                          <span id="availableLanguagesFilterSpan"><!-- <%= t("formtastic.labels.filter")%> -->  <input type="text" id="availableLanguagesFilter" /><!--<button type="button" id="availableLanguageFilterClear">X</button></span>-->
                          <ul><%=  f.input :languages_available, :label=>false, :input_html =>{:id =>"availableLanguagesBox"},  :as=>:select, :collection=>@calmapp.available_languages.collect {|l| [l.name, l.id ]},  :multiple=>"multiple"%></ul>
                          <!--<span id="availableLanguagesCounter" class="countLabel"></span> --> </fieldset>
                          <select id="box1Storage">
                          </select>
                  </td>
                  <td>
                    <ul><li><button id="to2" type="button" class="toFrom">&nbsp;>&nbsp;</button></li>
                      <li><button id="allTo2" type="button" class="toFrom">&nbsp;>>&nbsp;</button></li>
                      <li><button id="allTo1" type="button" class="toFrom">&nbsp;<<&nbsp;</button></li>
                      <li><button id="to1" type="button" class="toFrom">&nbsp;<&nbsp;</button></li>
                    </ul>
                  </td>
                  <td>
                      <fieldset class="inputs"><%=t("activerecord.calmapps.languages")%><br>
                      <span id="selectedLanguagesFilterSpan"><!--  <%= t("formtastic.labels.filter")%>-->  <input type="text" id="selectedLanguagesFilter" /><!--<button type="button" id="selectedLanguagesFilterClear">X</button></span> -->
                      <ul><%=  f.input :languages, :label=>false, :as=>:select, :collection=>@calmapp.languages.collect {|l| [l.name,l.id]},  :multiple=>"multiple", :input_html => { :class => "dualBox2", :id => "selectedLanguagesBox" }  %></ul>
                      <!--<span id="selectedLanguagesCounter" class="countLabel"></span></fieldset> -->
                      <select id="box2Storage">
                      </select>
                  </td>
              </tr>
     </table>
   <%end%>
   <%= f.buttons do %>
      <%= f.commit_button :action=>"all_in_one_create", :button_html => {:id=>"submit"} %>
  <% end %>
<%end%>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'calmapp', :count=>1)), new_calmapp_path %> |
<%= link_to t("actions.back"), calmapps_path %>
