<p class="pageheading"><%=t("headings.listing.heading", :model=>t($ARM + "upload", :count=>2) )%></p>
<% if Upload.count==0 then %>
  <%=t($MS + "no_records_found")%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=t($ARA+'upload.upload_file_name') %></th>

    <th class ="dataheader"><%=t($ARA+'upload.calmapp_language') %></th>

    

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @uploads.each do |upload| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
  
      <td class="<%= cell_class %>"><%= upload.upload_file_name %></td>

  
      <td class="<%= cell_class %>"><%= CalmappsLanguage.find(upload.calmapps_language_id).name %></td>
      

  
      

  
    
    <td class="<%= link_cell_class %>"><%= link_to  t('actions.edit'), edit_upload_path(upload) %></td>
    <td class="<%= link_cell_class %>"><%= link_to t('actions.destroy'),  upload , :confirm => t('messages.delete.are_you_sure', :model => t($ARM + "upload", :count=>1)), :method => :delete %></td>
    <td class="<%= link_cell_class %>"><%= link_to  t('actions.to_redis'), select_to_redis_path(upload) %></td>
  </tr>
<% end %>
</table>
<%= twill_paginate %>
<%end%>
<br />
<%= link_to t('headings.new.heading', :model=> t($ARM + 'upload', :count=>1)), new_upload_path %>