<%=theading("listing", :model=>"release_status", :count=>10 )%>
<% if ReleaseStatus.count==0 then %>
  <%=t($MS + "no_records_found")%><br/>
<%  else %>
<%= twill_paginate %>
<table class="data">
  <tr class="dataheader">

    <th class ="dataheader"><%=t($ARA+'release_status.status') %></th>

    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>

  
<% cell_class = "data" %>
<% link_cell_class="link"%>  
<% @release_statuses.each do |release_status| %>

  <tr class = "<%= cycle('dataeven', 'dataodd') %>" >
  
      <td class="<%= cell_class %>"><%= release_status.status %></td>

  
    
    <td class="<%= link_cell_class %>"><%= link_to  t('actions.edit'), edit_release_status_path(release_status) %></td>
    <td class="<%= link_cell_class %>"><%= link_to t('actions.destroy'),  release_status , :confirm => t('messages.delete.are_you_sure', :model => t($ARM + "release_status", :count=>1)), :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= twill_paginate %>

<br />
<% end %>
<%= tlink_to('new_model', new_release_status_path, :model=> 'release_status', :count=>1) %>